.panel-margin {
	margin:25px;
	word-wrap: break-word;
}

.sidebar {
	width:100%;
}

.sensorBox-list-heading {
	font-weight:bold;
}

h5 {
	font-weight:bold;
}

.btn-notifications {
	padding-top:0px;
	padding-bottom:0px;
}
